openapi: 3.0.0
info:
  title: Google Weather API
  version: v1
  description: |
    Get daily weather forecasts including conditions, temperature, humidity, precipitation,
    wind, UV index, and astronomical data for up to 10 days.
  contact:
    name: Google Maps Platform
    url: https://developers.google.com/maps/documentation/weather
servers:
  - url: https://weather.googleapis.com/v1
    description: Weather API production server

security:
  - ApiKeyAuth: []

paths:
  /forecast/days:lookup:
    get:
      operationId: getDailyForecast
      summary: Get daily weather forecast
      description: |
        Returns up to 10 days of forecast information for a specific location.
        Includes daytime/nighttime conditions, temperature, precipitation, wind, and more.
      parameters:
        - name: location.latitude
          in: query
          required: true
          description: Latitude coordinate of the location (WGS84)
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          style: form
          explode: false
          example: 37.4220

        - name: location.longitude
          in: query
          required: true
          description: Longitude coordinate of the location (WGS84)
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          style: form
          explode: false
          example: -122.0841

        - name: days
          in: query
          required: false
          description: Number of days of forecast data to return (1-10). Default is 10.
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 10
          example: 5

        - name: pageSize
          in: query
          required: false
          description: Number of days to return per page. Used for pagination.
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
          example: 3

        - name: pageToken
          in: query
          required: false
          description: |
            Token for accessing the next page of results.
            Obtained from the nextPageToken field in the previous response.
          schema:
            type: string
          example: "ChYKEgm8dJMYBLZCQBH-ZffkYYVewBAGEAMYAyILCKyAqr0GEKOR6lUqE0FtZXJpY2EvTG9zX0FuZ2VsZXM="



      responses:
        '200':
          description: Successful response with daily forecast data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyForecastResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - API key lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key for Google Weather API

  schemas:
    DailyForecastResponse:
      type: object
      properties:
        forecastDays:
          type: array
          description: Array of daily forecast data
          items:
            $ref: '#/components/schemas/ForecastDay'
        timeZone:
          $ref: '#/components/schemas/TimeZone'
        nextPageToken:
          type: string
          description: Token for fetching the next page of results (if available)

    ForecastDay:
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/TimeInterval'
        displayDate:
          $ref: '#/components/schemas/Date'
        daytimeForecast:
          $ref: '#/components/schemas/PeriodForecast'
        nighttimeForecast:
          $ref: '#/components/schemas/PeriodForecast'
        maxTemperature:
          $ref: '#/components/schemas/Temperature'
        minTemperature:
          $ref: '#/components/schemas/Temperature'
        feelsLikeMaxTemperature:
          $ref: '#/components/schemas/Temperature'
        feelsLikeMinTemperature:
          $ref: '#/components/schemas/Temperature'
        sunEvents:
          $ref: '#/components/schemas/SunEvents'
        moonEvents:
          $ref: '#/components/schemas/MoonEvents'
        maxHeatIndex:
          $ref: '#/components/schemas/Temperature'
        iceThickness:
          $ref: '#/components/schemas/IceThickness'

    PeriodForecast:
      type: object
      description: Weather forecast for daytime or nighttime period
      properties:
        interval:
          $ref: '#/components/schemas/TimeInterval'
        weatherCondition:
          $ref: '#/components/schemas/WeatherCondition'
        relativeHumidity:
          type: integer
          description: Relative humidity percentage
        uvIndex:
          type: integer
          description: UV index (0-11+)
        precipitation:
          $ref: '#/components/schemas/Precipitation'
        thunderstormProbability:
          type: integer
          description: Probability of thunderstorms (0-100)
        wind:
          $ref: '#/components/schemas/Wind'
        cloudCover:
          type: integer
          description: Cloud cover percentage (0-100)

    WeatherCondition:
      type: object
      properties:
        iconBaseUri:
          type: string
          description: Base URI for weather condition icon
        description:
          $ref: '#/components/schemas/LocalizedText'
        type:
          type: string
          enum:
            - CLEAR
            - CLOUDY
            - FOG
            - PARTLY_CLOUDY
            - PARTLY_CLEAR
            - LIGHT_RAIN
            - RAIN
            - RAIN_SHOWERS
            - SCATTERED_SHOWERS
            - DRIZZLE
            - SNOW
            - LIGHT_SNOW
            - SNOW_SHOWERS
            - SLEET
            - HAIL
            - THUNDERSTORMS
            - WINDY

    Temperature:
      type: object
      properties:
        degrees:
          type: number
          format: double
          description: Temperature value
        unit:
          type: string
          enum: [CELSIUS, FAHRENHEIT]

    Precipitation:
      type: object
      properties:
        probability:
          $ref: '#/components/schemas/PrecipitationProbability'
        qpf:
          $ref: '#/components/schemas/QuantitativePrecipitationForecast'

    PrecipitationProbability:
      type: object
      properties:
        percent:
          type: integer
          description: Probability percentage (0-100)
        type:
          type: string
          enum: [RAIN, SNOW, RAIN_AND_SNOW, FREEZING_RAIN, SLEET]

    QuantitativePrecipitationForecast:
      type: object
      properties:
        quantity:
          type: number
          format: double
          description: Amount of precipitation
        unit:
          type: string
          enum: [MILLIMETERS, INCHES]

    Wind:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/WindDirection'
        speed:
          $ref: '#/components/schemas/Speed'
        gust:
          $ref: '#/components/schemas/Speed'

    WindDirection:
      type: object
      properties:
        degrees:
          type: integer
          description: Wind direction in degrees (0-360)
        cardinal:
          type: string
          enum:
            - NORTH
            - NORTH_NORTHEAST
            - NORTHEAST
            - EAST_NORTHEAST
            - EAST
            - EAST_SOUTHEAST
            - SOUTHEAST
            - SOUTH_SOUTHEAST
            - SOUTH
            - SOUTH_SOUTHWEST
            - SOUTHWEST
            - WEST_SOUTHWEST
            - WEST
            - WEST_NORTHWEST
            - NORTHWEST
            - NORTH_NORTHWEST

    Speed:
      type: object
      properties:
        value:
          type: number
          format: double
        unit:
          type: string
          enum: [KILOMETERS_PER_HOUR, MILES_PER_HOUR, METERS_PER_SECOND]

    TimeInterval:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          description: Start time in RFC3339 format
        endTime:
          type: string
          format: date-time
          description: End time in RFC3339 format

    Date:
      type: object
      properties:
        year:
          type: integer
        month:
          type: integer
          description: Month (1-12)
        day:
          type: integer
          description: Day of month (1-31)

    SunEvents:
      type: object
      properties:
        sunriseTime:
          type: string
          format: date-time
        sunsetTime:
          type: string
          format: date-time

    MoonEvents:
      type: object
      properties:
        moonPhase:
          type: string
          enum:
            - NEW_MOON
            - WAXING_CRESCENT
            - FIRST_QUARTER
            - WAXING_GIBBOUS
            - FULL_MOON
            - WANING_GIBBOUS
            - LAST_QUARTER
            - WANING_CRESCENT
        moonriseTimes:
          type: array
          items:
            type: string
            format: date-time
        moonsetTimes:
          type: array
          items:
            type: string
            format: date-time

    IceThickness:
      type: object
      properties:
        thickness:
          type: number
          format: double
        unit:
          type: string
          enum: [MILLIMETERS, INCHES]

    TimeZone:
      type: object
      properties:
        id:
          type: string
          description: IANA time zone identifier
          example: "America/Los_Angeles"

    LocalizedText:
      type: object
      properties:
        text:
          type: string
        languageCode:
          type: string
          description: Language code (e.g., "en", "es")

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            status:
              type: string
