# Google Cloud Project Configuration
project_id: "YOUR_PROJECT_ID"
region: "YOUR_REGION"

# Resource Naming
resource_prefix: "YOUR_RESOURCE_PREFIX"
allow_unauthenticated: true

# Firestore Configuration
firestore_database_type: "FIRESTORE_NATIVE"

#Scheduler Cron
googleads_scheduler_schedule: "5 10 * * *"
sa360_scheduler_schedule: "5 10 * * *"

additional_secrets: ["GOOGLE_API_KEY"]
#  - MY_CUSTOM_API_KEY
#  - ANOTHER_API_SECRET

#Google Ads Customer ID to be triggered from cloud scheduler
googleads_customer_id: "GOOGLE_ADS_CUSTOMER_ID"

#SA360 Customer ID to be triggered from cloud scheduler
sa360_customer_id: "SA360_CUSTOMER_ID"